body {
	background-color: black;
}
.content {
	background-color: gray;
	position: absolute;
	height: auto;
	width: 354px;
	text-align: center;
	top: 100px;
	margin-left: 37%;

	border-radius: 5%;
	box-shadow: inset 0 0 100px black;
}

.card_content{
	position: relative;

  	-webkit-perspective: 800;
}

.card_content .card.flipped {
	-webkit-transform: rotatey(-180deg);
}

.card_content .card {
	margin-left: 10px;
	margin-right: 10px;
	height: 96px;
	width: 64px;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.card_content .card .face{
	border-radius: 7%;	
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden ;
	z-index: 2;
}

.card_content .card .front {
	position: absolute;
	z-index: 1;
	cursor: pointer;
	background-image: url('../img/front.jpg');
	background-size: 100% 100%;
}
.card_content .card .back {
	-webkit-transform: rotatey(-180deg);
	cursor: pointer;


}





